* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 140px;
    height: 40px;
    margin-left: 25px;
    margin-top: 5px;
}

.menu {
    width:99.3%;
    height:4.5rem;
    display: flex;
    box-shadow: 0px 0px 4px 0px #4f4f4f;
    border-radius:0px 0px 40px 30px;
    margin-left: 5.5px;
}

ul {
    display: flex;
    margin-top: 26px;
}

li {
    list-style: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.login {
    margin-left: 70rem;
}

.box {
    margin-top: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.fall{
    width: 15.8125rem;
    height: 15.5rem;
    background-color: #E21F3D;
    margin-left: 50px;
    border-radius: 50px;
    flex-direction: column;
}

.fall1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 15px;
}

.fallPlus {
    margin-top: 75px;
    margin-left: 28px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-style:none;
}

.member {
    width: 15.8125rem;
    height: 15.5rem;
    background-color: #E21F3D;
    margin-left: 70px;
    border-radius: 50px;
}

.nember {
    display: flex;
    
    text-align: center;
}

span {
    font-size: 35px;
}

.member1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 15px;
}

.memberIcon {
    margin-left: 55px;
    width: 140px;
    height: 140px;
}

.memberPlus {
    margin-left: 28px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-style:none;
}

.guardian {
    width: 15.8125rem;
    height: 15.5rem;
    background-color: #E21F3D;
    margin-left: 70px;
    border-radius: 50px;
}

.guardian1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 15px;
}

.guardianIcon {
    margin-left: 55px;
    width: 140px;
    height: 140px;
}

.guardianPlus {
    margin-left: 28px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-style:none;
}

.hospital {
    width: 15.8125rem;
    height: 15.5rem;
    background-color: #E21F3D;
    margin-left: 70px;
    border-radius: 50px;
}

.hospital1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 15px;
}

.hospitalIcon {
    margin-left: 55px;
    width: 140px;
    height: 140px;
}

.hospitalPlus {
    margin-left: 28px;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-style:none;
}